.App {
 width: 25%;
 margin: 0 auto;
 margin-top: 5rem;
}

.form-section,
.form-control {
 display: flex;
 flex-direction: column;
}

label {
 font-weight: bold;
 margin-bottom: 10px;
}

input,
textarea {
 padding: 5px 10px;
 border-radius: 5px;
 border: 1px solid #c4c4c4;
 outline: none;
}

.btn {
 display: flex;
 justify-content: center;
}

.submit-btn {
 background-color: blue;
 padding: 10px 15px;
 border: none;
 color: #fff;
 border-radius: 5px;
}

.form-control {
 margin-bottom: 0.7rem;
}

.error {
 color: #f5424b;
}
